= form_for @article, :url=>{:action => 'update', :controller => 'articles', :id => @article[:id]}  do |a|
  %tr
    %td content
    %td= a.text_area:content
    %br
  = a.submit 'update', :id => @article[:id]
  = link_to 'cancel', writers_articles_path

