%h1 Articles
%div.content
  %table
    %thead
      %tr
        %th id
        %th content
        %th assigned task
    %tbody
      -@articles.each do |article|
        %tr
          %td= article.id
          %td= article.content
          %td= article.assigned_task
          %td= link_to 'show', :controller => 'article', :action => 'show', :id => article.ig
