%h1 Create Article
= form_for @article, :url=> {:controller => 'articles', :action => 'create'} do |a|
  %tr
    %td Content
    %td= a.text_area:content
    %br
  = a.submit 'create'
  = link_to 'cancel', writers_articles_path
